/node_modules/
/packages/*/node_modules/

# Development TypeScript declaration files
/packages/*/types/


# TypeScript
*.tsbuildinfo

/infrastructure/.terraform*
/infrastructure/terraform.tfstate*
/infrastructure/**/*.tfvars
