@use "sass:color";
@import "../colors";

p {
  margin: 0;
}

.hover-highlight {
  border-width: 3px;
  border-color: $carrot;
  border-style: solid;
  transition: border 0.1s ease;
}

.selected {
  border-width: 3px;
  border-color: $sunflower;
  border-style: solid;
  transition: border 0.1s ease;
}

.dragging {
  opacity: 0.5;
  z-index: 10;
}

.appearances-icon {
  float: right;
}

.appearances-icon:hover {
  cursor: pointer;
}

.node-outcome-positive {
  background-color: color.scale($nephritis, $lightness: 40%);
}
.node-outcome-negative {
  background-color: color.scale($pomegranate, $lightness: 60%);
}
.node-outcome-neutral {
  background-color: color.scale($belizeHole, $lightness: 80%);
}
.node-outcome-contradictory {
  background-image: linear-gradient(to right, $nephritis 50%, $pomegranate 50%);
}
.edge-outcome-positive,
.edge-outcome-neutral {
  opacity: 100%;
}
.edge-outcome-negative {
  opacity: 20%;
}
