@import "../colors";

p {
  margin: 0;
}

.hover-highlight {
  border-width: 3px;
  border-color: $carrot;
  border-style: solid;
  transition: border 0.1s ease;
}

.selected {
  border-width: 3px;
  border-color: $sunflower;
  border-style: solid;
  transition: border 0.1s ease;
}

.dragging {
  opacity: 0.5;
  z-index: 10;
}

.appearances-icon {
  float: right;
}

.appearances-icon:hover {
  cursor: pointer;
}
